@font-face {
  font-family: 'Roboto-Light';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('/fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab-Light';
  src: url('/fonts/RobotoSlab-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E46643;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #F39765;
}

.markdown {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.markdown h1 {
  font-family: 'RobotoSlab-Bold';
  font-size: 2rem;
  color: #FFFFFF;
}

.markdown h2 {
  font-family: 'RobotoSlab-Light';
  font-size: 1.75rem;
  color: #FFFFFF;
}

.markdown h3 {
  font-family: 'RobotoSlab-Light';
  font-size: 1.5rem;
  color: #FFFFFF;
}

.markdown p {
  font-family: 'RobotoSlab-Regular';
  font-size: .875rem;
  line-height: 1.5rem;
  color: #C1C4CB;
}

.markdown ol {
  margin-left: 1.5rem;
  list-style-type: decimal;
  list-style-position: inside;
}

.markdown ul {
  margin-left: 1.5rem;
  list-style-type: none;
}

.markdown li {
  font-family: 'RobotoSlab-Regular';
  font-size: .875rem;
  line-height: 1.5rem;
  color: #C1C4CB;
}

.markdown ul li {
  position: relative;
  padding-left: 18px;
}

.markdown ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #E46643;
}