@font-face {
  font-family: 'Roboto-Light';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('/fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab-Light';
  src: url('/fonts/RobotoSlab-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}